@use 'util';
@use 'config';
@use 'btnConfig';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: config.$light-color;
  font-family: config.$font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero {
  background-color: config.$primary-color;
  color: config.$light-color;
  height: 600px;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        display: flex;
        list-style-type: none;
      }

      li {
        padding: 18px;
      }
    }

    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 45px;

      img{
        width: 40%;
      }

      h1 {
        font-size: 45px;
      }
    }
}



$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
